[submodule "external-repos/docusaurus"]
	path = external-repos/docusaurus
	url = https://github.com/facebook/docusaurus.git
[submodule "external-repos/mkdocs"]
	path = external-repos/mkdocs
	url = https://github.com/mkdocs/mkdocs.git
