@font-face {
	font-family: "OpenSauceTwo";
	src: url("/fonts/OpenSauceTwo-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "OpenSauceTwo";
	src: url("/fonts/OpenSauceTwo-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
